/* nav */

.btn-top{
	position: fixed;
	z-index: 999;
	top: 630px;
	left: 1450px;
}
.btn-top:hover{
	background-color: #000000;
}

html {
	scroll-behavior: smooth;
  }

.navbar{
	filter: drop-shadow(0.15rem 0.15rem 0.4rem rgba(0, 0, 0, 0.5));
}

.nav-item{
	padding-right: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
	font-size: 13px;
}
.fadeIn{
	background-color: rgb(31, 29, 29);
  border: none;
  color: white;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 black;
  box-shadow: 0 10px 20px 0 rgb(73, 73, 73);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fadeIn:hover{
	background-color: #000000;
}
.fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
  }

/*Home */

.top-card{
	text-align: left;
}
.text-top{
	margin-left: 500px;
	
}
.Trend {
	padding-top: 100px;
	font-size: 100px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	letter-spacing: 3px;
	color: azure;
}

.Pro {
	font-size: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	color: azure;
}

.Go {
	
	font-size: 150px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 3px;
	color: #46494F;
}

.top-btn {
	position: absolute;
	left: 300px;
	top: 250px;
	border: 2px solid white;
	background-color: transparent;
	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media(max-width : 1120px) and (min-width : 840px){
	.text-top{
		margin-left: 380px
	}
	
	.Trend{
		padding-top: 50px;
	font-size: 70px;
	}
	.Go{
		font-size: 70px;
	}
	.Pro{
		font-size: 40px;
	}
	.top-btn{
		top: 250px;
		left: 150px;
	}
}

@media(max-width : 840px) and (min-width : 640px) {
	.text-top{
		margin-left: 200px
	}
	
	.Trend{
		padding-top: 30px;
	font-size: 50px;
	}
	.Go{
		font-size: 50px;
	}
	.Pro{
		font-size: 30px;
	}
	.top-btn{
		top: 180px;
		left: 130px;
		
	}
}

@media(max-width : 640px)  {
	.text-top{
		margin-left: 100px
	}
	
	.Trend{
		padding-top: 10px;
	font-size: 30px;
	}
	.Go{
		font-size: 30px;
	}
	.Pro{
		font-size: 15px;
	}
	.top-btn{
		top: 120px;
		left: 50px;
		
	}
}




/* our product */

#Our-product {

	padding: 5% 5%;
}

.features{
	margin-top: 20px;
}
.box-features {
	text-align: center;


}

.Features-head {
	
	margin-bottom: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: bolder;
}

.feature-icon {
	color: black;
	margin-bottom: 15px;

}

.feature-icon:hover {
	color: #D3E4F2;
	filter: drop-shadow(0 0 0.75rem crimson);
}

.feature-tophead {
	margin-bottom: 20px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17, 17, 17, 1);
	letter-spacing: 1px;
	text-transform: uppercase;
}

.feature-box{
	margin-top: 10px;
	margin-bottom: 10px;
}

@media(max-width : 760px){
	.feature-icon{
		font-size: 30px;
	}
	.Features-head{
		font-size: 20px;
	}
	.feature-list{
		font-size: 13px;
	}
}

/* new collection */
#New-collection {
	text-align: center;
	background-color: #D3E4F2;
	padding: 5% 15%;

}

.col-container {
	padding-top: 20px;
	padding-bottom: 10px;
}

.col-smtext {

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(48, 47, 47, 1);
	letter-spacing: -0.2222222137451172px;
	text-transform: uppercase;
}

.col-lgtext {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(17, 17, 17, 1);
	letter-spacing: -0.4791666793823242px;
	text-transform: uppercase;
}



.col-name-smimg {
	width: 95px;
	white-space: nowrap;
	line-height: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(17, 17, 17, 1);
	letter-spacing: -0.1818181800842285px;
	padding-right: 35px;

}

.col-smbody-amount {
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255, 79, 4, 1);
	letter-spacing: -0.2222222137451172px;
}

.col-lgbody-amount {
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 79, 4, 1);
	letter-spacing: -0.2222222137451172px;
}



.col-name-lgimg {
	white-space: nowrap;
	line-height: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17, 17, 17, 1);
	letter-spacing: -0.1818181800842285px;
	padding-right: 100px;
}

.col-lgimg-brand {
	
	margin-top: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(122, 122, 122, 1);
	letter-spacing: -0.1818181800842285px;
}



.card-col:hover {
	filter: drop-shadow(0.15rem 0.15rem 0.4rem rgba(0, 0, 0, 0.5));
}


.btn-col {
	margin-top: 30px;
}

@media(max-width : 1480px) and (min-width :990px){
	.col-sm-text{
		font-size: 12px;
		padding-right: 13px;
	}
	.col-sm-amount{
		font-size: 18px;
	}
	.col-lg-text{
		font-size: 20px;
		padding-right: 15px;
	}
	.col-lg-amount{
		font-size: 23px;
	}
}

@media(max-width: 990px) and (min-width : 750px){
	.card-col{
		width: 180px;
		margin-bottom: 10px;
		text-align: center;
		margin: 0 auto; /* Added */
        float: none;

	}
	.card-img-lg{
		width: 300px;
		padding-left: 7px;
		padding-right: 7px;
	}
	.card-lg-col{
		width: 85%;
		align-items: center;
	}
	.col-sm-text{
		font-size: 14px;
		padding-right: 5px;
	}
	.col-sm-amount{
		font-size: 16x;
	}
	.col-lg-text{
		font-size: 20px;
		
	}
	.col-col{
		padding-top: 5px;
		padding-bottom: 8px;
	}
}

@media(max-width : 750px ){
	.card-col{
		width: 150px;
		margin-bottom: 10px;
		text-align: center;
		margin: 0 auto; /* Added */
        float: none;

	}
	.card-img-lg{
		width: 300px;
		padding-left: 7px;
		padding-right: 7px;
	}
	.card-lg-col{
		width: 85%;
		align-items: center;
	}
	.col-sm-text{
		font-size: 14px;
		padding-right: 5px;
	}
	.col-sm-amount{
		font-size: 16x;
	}
	.col-lg-text{
		font-size: 15px;
		padding-right: 10px;
	}
	.card-lg-col{
		width: 295px;
	}
	.col-lg-amount{
		font-size: 18px;
	}
	.col-col{
		padding-top: 5px;
		padding-bottom: 8px;
	}
}

/* top - product */

#top-product {
	background-color: white;
	text-align: center;
	padding: 7% 15%;
}

.pro-smtext {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(48, 47, 47, 1);
	letter-spacing: -0.2222222137451172px;
	text-transform: uppercase;
}

.pro-headtop {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17, 17, 17, 1);
	letter-spacing: -0.4791666793823242px;
	text-transform: uppercase;
}

.toppro-card {
	background: #fff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
	transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
	border: 0;


}


.toppro-card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}


/* top product media */

@media (max-width : 1290px ) and (min-width : 990px){
	.toppro-card{
		width: 140px;
		height: 200px ;
		
	}
	
	.pro-lg-text{
		font-size: 13px;
		padding-left: 5px;
	}
	.pro-lg-amount{
		font-size: 15px;
	}
}

@media (max-width : 990px) and (min-width : 640px){
	.row-pro{
		text-align: center;
	}
	.toppro-card{
		width: 200px;
		margin-bottom: 5px;
		text-align: center;
		margin: 0 auto; /* Added */
        float: none; /* Added */
        

	}
	.col-pro{
		margin-bottom: 13px;
	}
	
	.pro-lg-text{
		font-size: 15px;
		padding-right: 10px;
		
	}
	.pro-lg-amount{
		
		font-size: 15px;
	}
	
}

@media (max-width : 640px){
	.toppro-card{
		width: 150px;
		margin-bottom: 5px;
		text-align: center;
		margin: 0 auto; /* Added */
        float: none; /* Added */
	}
	.pro-lg-text{
		font-size: 15px;
		padding-right: 10px;
	}
	.col-pro{
		margin-bottom: 10px;
	}
	.pro-lg-amount{
		
		font-size: 15px;
	}
	.btn-col{
		margin: 0;
	}
	
}


/* footer */
#foot {
	background-color: #D3E4F2;
	

}

.fluid-foot{
	padding: 5% 5%;
}

.social-word{
	padding-left: 10px;
}

.social-foot{
	padding-left: 20px;
}

.foot-nav {
	
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	color: rgba(48, 47, 47, 1);
	text-transform: uppercase;

}

.foot-col-1 {
	text-align: left;
	padding-top: 20px;
	
}


.foot-col-4{
	padding-top: 30px;
	
}

.add-foot{
	padding-left: 30px;
}


.foot-nav-div {
	padding-top: 20px;
	text-align: left;
	padding-left: 40px;
}

.foot-subscribe{
	padding-top: 17px;
}

.place-foot{
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.foot-submit{
	background-color: black;
	color: white;
}
.foot-submit:hover{
	background-color: #98abbb;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 2px 4px 5px rgba(0, 0, 0, .06)
}
.foot-head{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* foot query */

@media(max-width : 770px){
	.social-foot{
		padding: 0%;
	}
	.foot-subscribe{
		padding-left: 30px;
	}
	.fa-foot{
		font-size: 10px;
	}

}



